# macOS
.DS_Store

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
DerivedData/
*.xccheckout
*.moved-aside
*.xcscmblueprint
*.xcworkspace
!default.xcworkspace

# Swift Package Manager
.build/

# CocoaPods
# Comment the next line if you want to checkin your workspace and Pods folder
Pods/

# Carthage
Carthage/Build

# Accio dependency management
Dependencies/
.accio/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
/iOSInjectionProject
